  body {
            font-family: sans-serif;
            color: rgb(211, 122, 255);
        }
        
        h2 {
            font-family: cursive;
            color: rgb(0, 232, 15);
        }  
        
        #rabbits-info-heading {
            background-color: purple;
        }
        
        p {
            color: rgb(191, 0, 255);
            font-family: "Helvetica", sans-serif;
        }
        
        #rabbits-info {
            color: purple;
            font-weight: bold;
            text-decoration: underline;
        }
        
        .song-lyrics {
            background-color: pink;
            font-family: fantasy;
            font-size: 13px;
            font-style: italic;
            line-height: 1.5em;
            text-align: center;
        }
        
        a {
            text-decoration: none;
        }
        
